body {
    background-color: rgb(200, 160, 240);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

hr {
    color: black;
    background-color: black;
}

#audio {
    text-align: center;
    padding: 5px 10px 10px 10px;
}

#container {
    margin: auto;
    width: 850px;
}

#notes {
    text-align: center;
}

#dropdowns {
    text-align: center;
    padding: 5px 5px 5px 10px;
}

#drops {
    height: 60px;
    margin-left: 170px;
    margin-bottom: 20px;
    display: flex;
}

.minum {
    width: 56px;
    height: 100%;
    margin: 0 3.5px;
    background-color: gray;
    display: flex;
    border-radius: 5px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}

.barline {
    width: 3px;
    height: 100%;
    margin: 0 10px;
    background-color: black;
    display: inline-block;
}

#drags {
    height: 20px;
    padding: 20px 0;
    margin-left: 140px;
    display: flex;
    justify-content: center;
    background-color: rgb(218, 184, 252);
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 15px;
    margin-top: 10px;
}
.chord {
    width: 40px;
    height: 100%;
    margin: 0 5px;
    color: black;
    background-color: gray;
    border: 2px solid black;
    border-radius: 3px;
    text-align: center;
}